/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

a,
a:visited,
a:hover {
    color: #e78226;
    text-decoration: none
}

a:hover {
    opacity: .8;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* COLORS
background: #eff1f0
text: #333333
banners and callouts: #bb8058
headers: #bd4a2d
gray: #bec2c1
links: #e78226
*/

/* GENERAL */
body {
	margin: 0;
	direction: ltr;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
	background-color: #eff1f0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: bold;
	color: #bd4a2d;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

/* HELPER CLASSES */

.mt20 {
	margin-top: 20px;
}

.strong {
	font-weight: bold;
}

/* CONTAINERS */

header {
	padding: 3.125% 6.25%;
	background: rgb(239,240,239);
	background: -moz-linear-gradient(top,  rgba(239,240,239,1) 79%, rgba(223,225,225,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(79%,rgba(239,240,239,1)), color-stop(100%,rgba(223,225,225,1)));
	background: -webkit-linear-gradient(top,  rgba(239,240,239,1) 79%,rgba(223,225,225,1) 100%);
	background: -o-linear-gradient(top,  rgba(239,240,239,1) 79%,rgba(223,225,225,1) 100%);
	background: -ms-linear-gradient(top,  rgba(239,240,239,1) 79%,rgba(223,225,225,1) 100%);
	background: linear-gradient(to bottom,  rgba(239,240,239,1) 79%,rgba(223,225,225,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff0ef', endColorstr='#dfe1e1',GradientType=0 );
	box-shadow: 0 7px 7px -7px #666666;
	-webkit-box-shadow: 0 7px 7px -7px #666666;
	-moz-box-shadow: 0 7px 7px -7px #666666;
	        
}
.corset {
	margin: 6.25%;
}

/* GLOBAL */

.logo {
	float: left;
	width: 32px;
	height: 32px;
	background-image: url(../img/icons/home.png);
	background-size: contain;
}

header .btn {
	float: right;
	margin-left: 10px;
	padding: .5em;
}

/* BUTTONS */

.btn {
	padding: 1em;
	border-radius: 4px;
	border: none;
	background-color: #333333;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

.primary {
	display: block;
	margin: 10px auto;
	width: 80%;
	background: rgb(227,157,86);
	background: -moz-linear-gradient(top,  rgba(227,157,86,1) 0%, rgba(231,130,38,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,157,86,1)), color-stop(100%,rgba(231,130,38,1)));
	background: -webkit-linear-gradient(top,  rgba(227,157,86,1) 0%,rgba(231,130,38,1) 100%);
	background: -o-linear-gradient(top,  rgba(227,157,86,1) 0%,rgba(231,130,38,1) 100%);
	background: -ms-linear-gradient(top,  rgba(227,157,86,1) 0%,rgba(231,130,38,1) 100%);
	background: linear-gradient(to bottom,  rgba(227,157,86,1) 0%,rgba(231,130,38,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e39d56', endColorstr='#e78226',GradientType=0 );
}

.secondary {
	display: inline-block;
	background: rgb(153,214,232);
	background: -moz-linear-gradient(top,  rgba(153,214,232,1) 0%, rgba(82,198,233,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,214,232,1)), color-stop(100%,rgba(82,198,233,1)));
	background: -webkit-linear-gradient(top,  rgba(153,214,232,1) 0%,rgba(82,198,233,1) 100%);
	background: -o-linear-gradient(top,  rgba(153,214,232,1) 0%,rgba(82,198,233,1) 100%);
	background: -ms-linear-gradient(top,  rgba(153,214,232,1) 0%,rgba(82,198,233,1) 100%);
	background: linear-gradient(to bottom,  rgba(153,214,232,1) 0%,rgba(82,198,233,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d6e8', endColorstr='#52c6e9',GradientType=0 );
}

/* PAGE SPECIFIC */
.splash {
	width: 242px;
	height: 200px;
	margin: 0 auto;
	background: url(../img/icons/logo-lg.png) no-repeat center;
	background-size: contain;
}

.splash + button {
	margin-top: 40px;
}

.detail-label {
	font-size:14px;
}

/* Refine Page */
.btn.selector {
	position: relative; 
}

.btn.selector select {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: .01;
}

.title-bar {
	padding: 1em;
	/*background: #eff0ef;*/
	border-radius: 4px;
	color: #bd4a2d;
	font-weight: bold;

}

/* List Pages */

.ul-category {
	margin: 0;
	padding: 0;
	list-style: none;
}

.li-category {
	position: relative;
	padding: 20px;
	background: url(../img/icons/right.png) no-repeat right center;
	background-size: 40px auto;
	border-bottom: 1px solid #eeeeee;
	box-shadow: 0 6px 6px -8px #666666;
	-webkit-box-shadow: 0 6px 6px -8px #666666;
	-moz-box-shadow: 0 6px 6px -8px #666666;
}

.li-category a,
.li-category a:active,
.li-category a:hover {
	text-decoration: none;
}

.li-thumb,
.category-span {
	float: left;
}

.category-span {
	margin-left: 10px;
	max-width: 52%;
	/*outline: 1px solid lime;*/
}

.li-brewer,
.li-beer,
.li-style,
.li-brewer-rating,
.li-neighborhood {
	display: block;
}

.li-brewer {
	font-size: smaller;
	text-transform: uppercase;
	font-weight: bold;
}

.li-brewer,
.li-beer-rating {
	color: #bd4a2d;
}

.li-beer {
	font-size: larger;
}

.li-beer,
.li-style,
.li-neighborhood {
	color: #333333;
}

.li-style {
	font-size: smaller;
}

.li-beer-rating {
	/*outline: 1px solid blue;*/
	position: absolute;
	display: block;
	font-size: 20px;
	font-weight: bold;
	right: 40px;
	top: 15px;
}

/* Detail Pages */
.icon {
	float: left;
}

.detail-heading {
	float: left;
	margin: 0 0 10px 10px;
	max-width: 70%;
	line-height: 1;
}

.detail-rating,
.li-brewer-rating {
	background: url(../img/icons/4star.png) no-repeat left center;
}

.detail-rating,
.li-brewer-rating {
	width: 100px;
	height: 14px;
	background-size: contain;
}

.detail-beer-rating {
	line-height: 1.5;
	font-weight: bold;
}

.beer-info h3 {
	display: inline-block;
}

.detail-label + p {
	margin-top: 4px;
}

.small-btn {
	margin: 10px 0;
	padding: 0.25em;
	width: 100px;
}

.adr + .small-btn {
	width: 80px;
}

.vcard h3 {
	margin-top: 10px;
}

.show-reviews {
	display: block;
	height: 44px;
	margin-top: 20px;
	text-align: center;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
