/* RESET */


/* GENERAL */
body {
	margin: 0;
	direction: ltr;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333333;
	background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: bold;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

/* CONTAINERS */

.corset {
	margin: 6.25%;
}

/* GLOBAL */

.btn {
	display: inline-block;
	border-radius: 4px;
	background-color: #52C6E9;
	color: #ffffff;
	padding: 0.5em;
}

/* PAGE SPECIFIC */
.splash {
	width: 100%;
	height: auto;
	/*background: url(../img/) no-repeat;*/
}